<div class="aligner">
<div class="container">
    
    <h1 class="display-3" style="text-align: center;">Contact Us</h1>


<div class="container aligner" >

    
  
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  
  
      <div class="form-group">
        <label for="">Email Address</label>
        <input placeholder="name@example.com" type="text" style="border-radius: 10px"  class="form-control" formControlName="email"
        [class.is-invalid]="userForm.get('email').invalid && userForm.get('email').touched">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <small class="text-danger"[class.d-none]="userForm.get('email').valid || userForm.get('email').untouched">
          This  is required field
      </small>
      
      </div>
  
      <div class="form-group">
        <label for="">Subject</label>
        <input  placeholder="Enter the subject for your concern" type="text" style="border-radius: 10px"  class="form-control" formControlName="subject"
        [class.is-invalid]="userForm.get('subject').invalid && userForm.get('subject').touched">
        <small class="text-danger"[class.d-none]="userForm.get('subject').valid || userForm.get('subject').untouched">
          This  is required field
      </small>
        
      </div>


      <div class="form-group">
        <label for="">Message</label>
        
        <textarea  rows="3" cols="" placeholder="Explain your concern briefly..." type="text" style="border-radius: 10px"  class="form-control" formControlName="message"
        [class.is-invalid]="userForm.get('message').invalid && userForm.get('message').touched"></textarea>
        <small class="text-danger"[class.d-none]="userForm.get('message').valid || userForm.get('message').untouched">
          This  is required field
      </small>
        
      </div>

    


      <div style="text-align: center;">
  
      <input type="submit" [disabled]="userForm.invalid" value="Submit" class="btn btn-secondary" >
      
    </div>
    </form>
  
  
  
  
  
  </div>
</div>
</div>