
  <div class="clearfix grad1" >
    <img src="../assets/logo.png" class="img-fluid" class="logo" />
    <h3 class="display-3 heading" >Gift Cards</h3>
  </div>
 <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffebee;">
    <a class="navbar-brand" href="#">Make Someone Happy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/placeorder">Place Gift Card Orders <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vieworder">View Gift Card Orders</a>
        </li>
      </ul>
    </div>
  </nav>