<div class="homewrapper">
    <div class="container" >
        <div class="row">
          <div class="col-sm-3">
            <img src="../assets/giftone.png" class="img-fluid"/>
          </div>
          <div class="col-sm-3">
            <img src="../assets/itunes.png" class="img-fluid"/>
          </div>
          <div class="col-sm-3">
            <img src="../assets/spotify.jpg" class="img-fluid"/>
          </div>
          <div class="col-sm-3">
            <img src="../assets/steam.jpg" class="img-fluid"/>
          </div>
        </div>
      </div>
      <h5 class="display-5" style="text-align: center; margin-top: 15px;">Family matters. Love matters. But how your loved ones feel when they engage with you matters more.<br>Gift them your love.</h5>
      <div style="text-align: center; margin-top: 20px;">
      <button class="myButton" routerLink = "/placeorder">Place an Order</button>
    </div>
    </div>